*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    margin-top: 50px;
}

.search-box input {
    padding: 10px 20px;
    width: 300px;
    border: none;
    border-bottom: 1px solid black;
}
.search-box input:focus {
    outline: none;
}

.names-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
h1 {
    text-align: center;
}
.names {
    margin: 20px;
    text-align: center;

}

p {
    margin-top: 10px;
}